@{
    ViewBag.Title = "關於";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">前台</h3>
    </div>
    <div class="panel-body">
        <ul>
            <li>呈現各類書籍列表</li>
            <li>加入購物車</li>
            <li>結帳</li>
            <li>註冊 / 加入會員 / 登出</li>
            <li>密碼修改</li>
        </ul>
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">後台</h3>
    </div>
    <div class="panel-body">
        <h4>Role-Admin：預設建立一組 Admin 帳密為 admin@test.com, Admin@1qaz</h4>
        <ul>
            <li>角色管理</li>
            <li>會員(使用者)管理</li>
            <li>書籍種類管理</li>
            <li>書籍管理</li>
            <li>訂單管理</li>
            <li>登出</li>
        </ul>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">使用技術及參考文章</h3>
    </div>
    <div class="panel-body">
        <h4>【後端】</h4>
        <ul>
            <li>使用 Visual Studio 2013 Ultimate (update4版本) 開發</li>
            <li>使用 ASP.NET(C#) MVC 5.2.3 (with Razor syntax) 網站預設範本</li>
            <li>使用 Identity 2.1.0 會員機制，並做欄位擴增及實作角色管理。<br />
            <li>使用 Entity Framwork 6.0</li>
            <li>使用內建 Local DB</li>
        </ul>
        <h4>【前端】(CSS & JQuery套件)</h4>
        <ul>
            <li>範本內建 <a href="http://getbootstrap.com/">Bootstrap3</a>，並使用 <a href="http://bootswatch.com/"> bootswatch </a>更換主題。</li>
            <li><a href="https://www.datatables.net/">jQuery-DataTables</a></li>
        </ul>
        <h4>【參考文章】</h4>
        <ul>
            <li>
                (欄位擴增及使用外部登入)參考：
                <a href="http://www.asp.net/mvc/overview/security/create-an-aspnet-mvc-5-app-with-facebook-and-google-oauth2-and-openid-sign-on">
                    code! mvc 5 app with facebook, twitter, linkedin and google oauth2 sign-on (c#)
                </a>
            </li>
            <li>
                (角色管理)參考：<a href="http://www.cnblogs.com/chonghanyu/">沉默種子</a>
                ＜<a href="http://www.cnblogs.com/chonghanyu/category/629566.html">asp.net identity 2.2.0 在MVC下的角色启用和基本使用</a>＞系列文章
            </li>
            <li>
                (購物車設計)參考：
                <a href="http://maidot.blogspot.tw/">買大 (maidot) 的學習紀錄</a>＜<a href="http://maidot.blogspot.tw/2014/10/aspnet-mvc.html">使用ASP.NET MVC 實作購物網站</a>＞30天鐵人賽系列文章
            </li>
            <li>
                (圖片上傳)參考：<a href="http://cpratt.co/file-uploads-in-asp-net-mvc-with-view-models/">File Uploads in ASP.NET MVC with View Models</a>
            </li>
            <li>
                (圖片壓縮)參考：<a href="http://demo.tc/">Demo</a>＜<a href="http://demo.tc/post/95">利用C#來做到圖檔縮圖的方式</a>＞
            </li>
        </ul>
    </div>
</div>