@{
    ViewBag.Title = "聯絡方式";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Name: </strong> Wu, Yu-Hua <br />
    <strong>Github: </strong>  <a href="https://github.com/je18573"> https://github.com/je18573 </a><br />
</address>